.footer {
    height: 230px;
    width: 100vw;
    background: url(https://static.vecteezy.com/system/resources/previews/005/201/039/non_2x/modern-luxury-abstract-3d-elegant-black-gradient-wave-shape-layered-background-and-texture-vector.jpg);
}

.row {
    display: flex;
}

/*categorias*/
.ulDeFooter {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin-left: 250px;
    gap: 4px;
    margin-top: 10px;
}

.ulDeFooter p {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-shadow: 1px 0px rgb(98, 98, 98);
    border-bottom: solid 1px rgb(92, 91, 91);
}

.ulDeFooter li {
    color: #3faff4;
    margin-left: 19px;
}

.ulDeFooter li a {
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-size: 13px;
    transition: 0.2s ease-in-out;
}


.ulDeFooter li:hover {
    scale: 1.1;
    color: rgb(73, 73, 73);
}

.ulDeFooter li a:hover {
    color: rgb(73, 73, 73);
}


/*derechos reservados*/
.contenedorDePFooter {
    display: flex;
    justify-content: center;
}

.tectoDeFooter {
    text-shadow: 1px 1px rgb(75, 75, 75);
    color: whitesmoke;
    position: absolute;
    margin-top: 140px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
}

/*links de redes*/
.redes-container ul {
    display: flex;
    list-style: none;
    justify-content: end;
    width: 0px;
    height: 0px;
    gap: 20px;
    margin-bottom: 70px;
    margin-left: 600px;
    margin-top: 4px;
}

.redes-container ul li {
    width: 60px;
    height: 50px;
    padding-top: 10px;
}

.contenedor-links {
    display: flex;
    justify-content: end;
}

.redes-container ul li a {
    display: block;
    background: rgb(58, 58, 58);
    color: whitesmoke;
    padding: 10px 18px;
    box-shadow: 0 0px 10px 4px #1c1c1c;
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(1px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0px 10px 4px #1c1c1c;
    filter: none;
}

/*colores de redes*/

.redes-container ul li .facebook:hover {
    background-color: #3b5998;
}

.redes-container ul li .whatsapp:hover {
    background-color: #25D366;
}

.redes-container ul li .instagram:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.redes-container ul li .twitter:hover {
    background-color: #1DA1F2;
}